html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
		Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type='range'] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 0;
	margin: 0;
	overflow: hidden;
	text-align: center;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
		Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

	border: 5px solid orangered;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type='range'] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

main {
	margin: 0 auto;
}

h1 {
	color: #51a6bb;
	font-size: 2em;
	font-weight: 900;
	text-transform: uppercase;

	margin-top: 0;
	padding: 0.5em 0 1em;
	background-image: linear-gradient(#ececec, #fff);
	text-shadow: 1px 1px 0 #2c495f;

	-webkit-text-stroke: 1px #333;
}

@media (min-width: 640px) {
	main {
		max-width: none;
	}
}

.hem {
	width: 30%;
	height: auto;
	position: absolute;
	left: 0;
	bottom: 0;
}

.controls {
	position: absolute;
	z-index: 3;

	bottom: 27%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

.controls img {
	cursor: pointer;
	width: 76px;
	margin: 0 1em;
	transition: 0.05s all ease-in;
}

.controls img:hover {
	transform: scale(1.1);
}

.controls img:active {
	transform: scale(0.95);
}
